* {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
}

form {
    max-width:440px;
}

input {
    font-size:.8em;
    padding:.6rem .5rem .4rem;
}
button {
    padding:.4rem .4rem;
}

ul {
    list-style: decimal
}
.addNewTask,
.removeAllTasks {
    position: relative;
    top:-2px;
    display: inline-block;
}

.removeTask {
    font-size:.780em;
    background-color:transparent;
    outline:0;
    border: none;
    cursor:pointer;
}
.removeTask:hover {
    text-decoration:underline;
}